/* @keyframes moveLeftToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.moving-bar {
    animation: moveLeftToRight .8s linear infinite;
} */